.wrapper {
  width: calc(100vw - 350px);
  height: calc(100vh - 60px);
  max-width: 1400px;
  background: rgba(0, 0, 0, 0.6);

  margin: 0 auto;
  border-radius: 10px;
}

.container {
  padding: 20px 0;
  width: 95%;
  margin: 0 auto;
  display: flex;
  height: 100%;

  &__chatSidebar {
    flex-basis: 30%;
  }
}
