.baseBtn {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  transition-duration: 0.2s;
}

.authBtn {
  color: white;

  width: 100%;
  padding: 12px 0;
  font-size: 16px;
  border-radius: 10px;

  background: linear-gradient(210deg, rgba(239, 115, 110, 0.7) 0%, rgba(157, 72, 232, 0.7) 50%, rgba(73, 144, 248, 0.7) 100%);

  &:hover {

    background: linear-gradient(210deg, #ef736e 0%, #9d48e8 50%, #4990f8 100%);
  }
}
